<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Address Explorer</title>
    <link rel="stylesheet" href="static/explorer.css">
    <script src="static/angular.min.js"></script>
    <script>

    var obj = {
		address: '[address]',
		label: '[label]',
		classification: '[classification]',
		total_received: '[total_received]',
	};

    var module = angular.module('simpleDirective', [])
		 .config(function($interpolateProvider) {
		  $interpolateProvider.startSymbol('{[{');
		  $interpolateProvider.endSymbol('}]}');
		})
    	.controller('AsideCtrl', ['$scope', function($scope) {
    		$scope.obj = [];

    		$scope.human_readable = {'address':"Address",
    								 'label':"Blockchain.info Tag",
    								 'classification':"Classification",
    								 'total_received':"Total Received",
                     'total_sent':"Total Sent",
                     'balance':"Current Balance"};

        $scope.color_labels = [['cold_storage',"Cold Storage","#1f77b4"],
                              ['hot_storage',"Hot Storage","#ff7f0e"],
                              ['single_use',"Single Use","#2ca02c"],
                              ['mining_pool',"Mining Pool","#d62728"],
                              ['mining_solo',"Mining Solo","#9467bd"],
                              ['faucet',"Faucet","#17becf"],
                              ['distributor',"Distributor","#e377c2"],
                              ['unexplored',"Unexplored","#bcbd22"]];

        $scope.selection = ['cold_storage','hot_storage','single_use','mining_pool','mining_solo','faucet','distributor','unexplored'];

        $scope.toggleSelection = function toggleSelection(item) {
          var idx = $scope.selection.indexOf(item);
          if (idx > -1) {
            $scope.selection.splice(idx, 1);
            changeClassStatus(item,true);
          }
          else {
            $scope.selection.push(item);
            changeClassStatus(item,false)
          }
        };

    		$scope.update = function(addr_obj) {
    			$scope.obj = [];
    			for (attr in $scope.human_readable) {
    				if (addr_obj.hasOwnProperty(attr) && addr_obj[attr] != "") {
    					$scope.obj.push([$scope.human_readable[attr],addr_obj[attr]]);
    				}
    			}
    		}
    	}]);

    var update_aside = function(addr_obj) {
    	var scope = angular.element(document.getElementById("asidectrl")).scope();
    	scope.$apply(function(){
    		scope.update(addr_obj);
    	});
    };

    </script>
  </head>
  
  <body ng-app="simpleDirective">
  <aside id="asidectrl" ng-controller="AsideCtrl">
  		<div ng-repeat="line in obj">
  			<span> {[{line[0]}]}: {[{line[1]}]} </span>
  		</div>
      <br>
      <span>Enter number of layers for iteration:</span><br>
      <input type="text" placeholder=""id="layer_field"/>
      <br>
      <span>Upper limit on connections for expansion:</span><br>
      <input type="text" id="connection_field"/>
      <br>
      <span>Lower limit on tx value for expansion (mBTC):</span><br>
      <input type="text" id="value_field"/>
      <ul class="color_list">
        <li ng-repeat="x in color_labels">
          <input type="checkbox" ng-checked="selection.indexOf(x[0]) > -1" ng-click="toggleSelection(x[0]);">
            <span class="color_label" style="color:{[{x[2]}]};">{[{x[1]}]}</span>
          </input>
        </li>
      </ul>
  </aside>
  </body>

  <script src="http://d3js.org/d3.v3.min.js"></script>
  <script src="static/explorer.js"></script>
</html>