svg {
  background-color: #FFF;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

svg:not(.active):not(.ctrl) {
  cursor: crosshair;
}

path.link {
  fill: none;
  stroke: #000;
  stroke-width: 4px;
  cursor: default;
}

svg:not(.active):not(.ctrl) path.link {
  cursor: pointer;
}

path.link.selected {
  stroke-dasharray: 10,2;
}

path.link.dragline {
  pointer-events: none;
}

path.link.hidden {
  stroke-width: 0;
}

circle.node {
  stroke-width: 1.5px;
  cursor: pointer;
}

circle.node.reflexive {
  stroke: #000 !important;
  stroke-width: 2.5px;
}

text {
  font: 12px sans-serif;
  pointer-events: none;
}

text.id {
  text-anchor: middle;
  font-weight: bold;
}

.type_holder{
  margin-top: 30px;
}

aside {
  position:fixed;
  top:10px;
  left:10px;
  border:1px solid #ccc;
  padding:10px;
  background-color:#F5F9FA;
  opacity:0.95;
  /*width:350px;*/
}

.color_list {
  font-family: sans-serif; 
  list-style: none;
  position:relative;
  width:100%;
  padding:0px;
}
ul li:nth-child(2n) {
  position:absolute;
  left:200px;
  margin-top:-25px;
}
.color_label{
  font-size: 20px;
width: 40px;
position: relative;
top: 3px;
text-shadow: 1px 1px #000;
}
.hidden_element{
  fill: #000000;
  opacity: 0;
}